{% extends 'base.html' %}

{% block title %}
- Jugando
{% endblock %}

{% block contenido %}

{% if respuestas_seleccionadas %}
	<div class="col s12 m8 offset-m2">
		<h4 class="light">Puntaje: {{puntaje.puntaje}}</h4>
		{% for r in respuestas_seleccionadas %}
		<h4 class="light">{{ r.descripcion }}: </h4>
		{% if r.correcta %}
			<h4 class="light">Correcta</h4>
		{% else %}
		<h4 class="light">Incorrecta</h4>
		{% endif %}
		{% endfor %}
	</div>
{% else %}
acá no entró
{% endif %}

{% endblock %}