{% extends 'base.html' %}

{% block title %}
- Jugando
{% endblock %}

{% block contenido %}

{% if respuestas_seleccionadas %}
	<div class="col s12 m8 offset-m2">
		<h4 class="light">Categoría: {{categoria.nombre}}</h4>
		<h5 class="light">Puntaje: {{puntaje.puntaje}}</h5>
		{% for r in respuestas_seleccionadas %}
		<h6 class="light">{{ r.descripcion }}: {% if r.correcta %} Correcta (+1 punto) {% else %} Incorrecta (-1 punto){% endif %}</h6>
		{% endfor %}
	</div>
{% else %}
	<div class="col s12 m8 offset-m2">
		<h4 class="light">Por favor seleccione al menos una respuesta.</h4>
	</div>
{% endif %}
{% if categoria %}
	<a href="{% url 'partidas:mostrarPregunta' categoria %}" class="btn-large waves-effect waves-light"><i class="material-icons">arrow_forward</i>
	</a>
<h4 class="light">Debes seleccionar una respuesta.</h4>

{% endif %}

{% endblock %}