{% extends 'base.html' %}
{% block contenido %}
	<div class="row">
    	<h1>Ranking</h1>
    	<div class="col-4">
		</div>
	</div>
	<table class="table">
    	<thead class="thead-dark">
        	<tr>
            	<th>Puntaje</th>
            	<th>Usuario</th>
        	</tr>
    	</thead>
    	<tbody>
        	{% if ranking %}
        		{% for p in ranking %}
        			<tr>
            		<td scope="row">{{p.puntaje}}</td>
                  	<td scope="row">{{p.usuario_id}}</td>            			
        			</tr>
        		{% endfor %}
        	{% endif %}
    </tbody>
</table>
<div class="row">
    <div class="col"></div>
    <div class="col">
      <button class="btn btn-info" href="#" ><b>
        <a href="{% url 'usuarios:perfil' request.user.id %}">
          <i href="" class="fas fa-undo-alt">&nbsp;Volver </i>
        </a>
        </b>
      </button>
    </div>
    <div class="col"></div>
</div>


{% endblock %}