{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block contenido %}
<div class="row">
    <h1>Listado de Preguntas</h1>
    <div class="col-4">
    <a class="btn btn-warning"  href="{% url 'preguntas:crear'%}">
    <span class="fa fa-plus-circle">Agregar</span> 
    </a>
    </div>
</div>
<!--FILTRO BUSQUEDA DE PREGUNTAS-->
<form action="/preguntas/buscar/" method="GET">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="text" name="criterio" placeholder="Criterio de búsqueda" />
                    <span class="input-group-append">
                        <div class=" input-group-text bg-transparent">
                            <button  type="submit" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Buscar">
                            <i class="fa fa-search"></i>
                        </button>
                        </div>
                    </span>
                </div>
            </div>        
         </div>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Pregunta</th>
            <th>Categoria</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% if preguntas %}
        {% for p in preguntas %}
        <tr>
            <td scope="row">{{p.descripcion}}</td>
            <td scope="row">{{p.categoria.nombre}}</td>
            <td>
               
            <a href="#"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Ver detalle">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        
        <!--FILTRO DE BUSQUEDA -->
        {% elif encontrado %}
        {% for r in encontrado %}
        <tr>
            <td scope="row">{{r.descripcion}}</td>
            <td scope="row">{{r.categoria.nombre}}</td>
            <td>
               
                <a href="#"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Ver detalle">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        
    </tbody>
    <div>
        <label for="">Resultado: {{criterio}}</label>
    </div>
</table>
<hr>
<br>
<div class="row">
    <div class="col"></div>
    <div class="col">
      <button class="btn btn-info" href="#" ><b>
        <i class="fas fa-undo-alt">&nbsp;Volver </i>
        </b></button>
    </div>
    <div class="col"></div>
</div>

{% endblock %}
