{% extends 'base.html' %}
{% block contenido %}
<div class="container-fluid">
        <form method="POST" action="{% url 'categorias:actualizar' objeto.id %}">
          {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">ABM Categorías</h5>
        </div>
        <div class="modal-body">
            {{form.as_p}}
          </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          &nbsp;
          <a class="btn btn-primary" href="{% url 'categorias:listar' %}">
              <i class="fas fa-undo-alt">&nbsp;Volver </i>
          </a>
        </div>
      </form>
    </div>
{% endblock %}