{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block contenido %}

{% include 'messages.html' %}

<div class="row">
    <h1>Listado de Respuestas</h1>
    <div class="col-4">
    <a class="btn btn-warning"  href="{% url 'respuestas:crear' %}">
    <span class="fa fa-plus-circle">&nbsp;Agregar</span> 
    </a>
</div>
<!--FILTRO BUSQUEDA DE RESPUESTAS-->
<form action="/respuestas/buscar/" method="GET">
    <div class="form-row">
        <div class="form-group col-12">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="text" name="criterio" placeholder="Criterio de búsqueda" />
                <span class="input-group-append">
                    <div class=" input-group-text bg-transparent">
                        <button  type="submit" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Buscar">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </span>
            </div>
        </div>        
     </div>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID de pregunta</th>
            <th>Respuesta</th>
            <th>V o F</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% if respuestas %}
        {% for p in respuestas %}
        <tr>
            <td scope="row">{{p.pregunta_id}}</td>
            <td scope="row">{{p.descripcion}}</td>
            <td scope="row">{{p.correcta}}</td>
            <td>
                <a href="{% url 'respuestas:modificar' p.id %}"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                &nbsp;
                <a href="{% url 'respuestas:eliminar' p.id %}"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        <!--RESULTADO DE BUSQUEDA -->
        {% elif encontrado %}
        {% for p in encontrado %}
        <tr>
            <td scope="row">{{p.pregunta_id}}</td>
            <td scope="row">{{p.descripcion}}</td>
            <td scope="row">{{p.correcta}}</td>
            <td>
                <a href="{% url 'respuestas:modificar' p.id %}"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                &nbsp;
                <a href="{% url 'respuestas:eliminar' p.id %}"  type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        
    </tbody>
    <div>
        <label for="">Resultado: {{criterio}}</label>
    </div>
</table>
<hr>
<br>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
      <a class="btn btn-info" href="#" ><b>
        <i class="fas fa-undo-alt">&nbsp;Volver </i>
        </b></a>
    </div>
    <div class="col-5"></div>
</div>


{% endblock %}